.flex {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}

.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    padding: 40px 20px;
}

.card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 20px;
    cursor: pointer;
}

.linkStyle {
    color: '#000';
    text-decoration: 'none';
}